@page "/edit"
@using Gjallarhorn.Blazor.Client.Resources.Commands
@using Microsoft.AspNetCore.Components
@inject SettingsViewModel SettingsViewModel
@inject IUriHelper UriHelper

<button type="button" class="btn btn-success m-1" onclick="@(async () => await SaveAndNavigate())">Save</button>
<MonacoEditor ref="_editor" Model="@_editorModel" FullScreen="true" />

@functions
{

    private EditorModel _editorModel { get; set; }
    private MonacoEditor _editor;

    protected override async Task OnInitAsync()
    {
        _editorModel = new EditorModel(new EditorOptions() { Language = "json" });
        SettingsViewModel.PropertyChanged += (a, e) => StateHasChanged();
        await SettingsViewModel.Initialize();
        await _editor.SetValue(SettingsViewModel.PackagesRaw);
    }

    private async Task SaveAndNavigate()
    {
        var editorContent = await _editor.GetValue();
        await ((AsyncCommand)SettingsViewModel.SaveSettingsCommand).ExecuteAsync(editorContent);
        UriHelper.NavigateTo("/status");
    }
}
