@inject MainViewModel MainViewModel
@using Gjallarhorn.Client.ViewModels
@inherits LayoutComponentBase
    <div class="media">
        <div class="media-body">
            <div class="row border" style="background-color: #3F69AA">
                <div class="m-3 col-sm-0 header-text text-light navbar-brand">
                    Gjallarhorn
                </div>
                <div class="container row align-items-center" style="font-size: 18px; width: 100%;">
                    <a href="/" class="text-light text-hover" style="cursor: pointer;">
                        status
                    </a>
                    <div class="ml-3 mr-3 text-light" style="opacity: 0.6; border-left: 3px solid; height: 30%"></div>
                    <a href="/edit" class="text-light text-hover" style="cursor: pointer;">
                        edit
                    </a>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid text-monospace">
    @Body
</div>

@functions
{


    protected override void OnInit()
    {
        MainViewModel.PropertyChanged += (a, e) => StateHasChanged();
    }

}
