$theme-colors: (
   primary: #3F69AA,
);

@import
    "customize-bootstrap",
    "~bootstrap/scss/bootstrap";

    .header-text {
        opacity: 0.6;
        font-size: 30px;
    }
    
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3F69AA; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .disabled
    {
        opacity: 0.4;
        pointer-events: none;
    }

    .text-hover:hover{
        font-weight: bold;
    }