@inherits LayoutComponentBase
@*<div class="media" show.bind="!minimized">
        <div class="media-body">
            <div class="row border" style="background-color: #3F69AA">
                <div class="m-3 col-sm-0 header-text text-light navbar-brand">
                    Gjallarhorn
                </div>
                <div class="container row align-items-center ${isAnyPackagesComparing ? 'disabled' : ''}" style="font-size: 18px; width:100%;">
                    <div class="col-sm-0 text-light text-hover ${normalViewIsVisible ? 'font-weight-bold' : ''}" style="cursor: pointer;"
                         click.delegate="goToNormalView()">status</div>
                    <div class="col-sm-0 ml-3 mr-3 text-light" style="opacity:0.6 ; border-left: 3px solid; height: 30%"></div>
                    <div class="col-sm-0 text-light text-hover ${jsonViewIsVisible ? 'font-weight-bold' : ''}" style="cursor: pointer;"
                         click.delegate="goToJsonView()">edit</div>
                </div>
                <div class="progress w-100">
                    <div class="progress-bar" role="progressbar" style.bind="progressPercentageWidth" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>*@

<div class="container-fluid text-monospace">
    @Body
</div>
